h1{
    color: red;
}
h2{
    color: red;
    font-style: italic;
}
.para{
    color: crimson;
    line-height: 40px;
}
.bg{
    background-color: goldenrod;
}
.line{
    text-decoration: line-through;
}
.underline{
    text-decoration: underline;
}
.list{
    color: darkcyan;
    letter-spacing: 5px;
}
.back{
    background-color: yellow;
}
.p{
    color: aqua;
}
a{
    text-decoration: none;
    background-color: blueviolet;
}